<div class="form">
	<div class="row-fluid">
		<div>
			<div>
				<h3 class="text-center"> All Test Status </h3>
			</div>
			<div class="over-flow">
				<table width=100% id="all_test_table" class="display pretty table table-striped table-bordered table-hover table-condensed">
					<thead class="dataTableHeader">
						<tr>
							<th>Test Id</th>
							<th>Test Name</th>     
							<th>Category</th>     
							<th>Scheduled By</th>     
							<th>Test Status</th>
							<th>Total Tests</th>
							<th>No of Test Passed</th>
							<th>No of Test Failed</th>
							<th>Scheduled Time</th>     
							<th>Completed Time</th>     
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
(function(httpRequestResponseBuilder, $, undefined){

	httpRequestResponseBuilder.AllTestViewModel = function AllTestViewModel(data){
		var self = this;
		
		self.formatTableData = function formatTableData(test){
         	return [
                ['<a href= "#/test/details/' + test.id +'"> <span>' + test.id + '</span></a>',
                test.name,
                test.category,
                test.scheduled_by,
                test.status,
                test.total_test_count,
                test.pass_count,
                test.fail_count,
                test.created_time,
                test.completed_time]
            ]
    	} 
		
		self.tests = ko.observableArray( $.map(data.tests || [], function(test){
			return self.formatTableData(test);
		} ));
		
		self.initDataTable = function initDataTable(){
			var options = {
				"bJQueryUI": true,
				aoColumns: [ {
								"sType": "numeric"
						},
						null,
						null,
						null,
						null,
						null,
						null,
						null,
						null,
						null
					],
				aaData: self.tests()
			}
			Application.dataTable.Init("#all_test_table", options, true);
    	}
		
		self.initDataTable()
	}
}(Application.namespace("Application.httpRequestResponseBuilder"), jQuery))

var applyFormBindings = function(data, tab_id){
	ko.applyBindings(new Application.httpRequestResponseBuilder.AllTestViewModel(data), $(tab_id)[0]);
};

</script>
