<div class="container-fluid">
	<div class="row-fluid">
		<div>
			<div>
				<h3 class="text-center"> Search Scheduled Test </h3>
			</div>
			<div data-bind="visible: searchVisible">
				<form method="post" action="/down_load_excel" id="search_form" class="form-horizontal">
					<div class="control-group">
						<label class="control-label">Test Name</label>
					    <div class="controls">
						    <input type="text" data-bind="value: testName" placeholder="Test Name">
						</div>
				  	</div>
				 	<div class="control-group">
				    	<label class="control-label">User Name</label>
						<div class="controls"> 
							<input type="text" data-bind="value: userName" placeholder="Your Name">
						</div>
					</div>
					<div class="control-group">
				    	<label class="control-label">Test Category to run </label>
						<div class="controls"> 
							<select data-bind="options: availableCategories, optionsText: 'name', selectedOptions: selectedCategories" size="5" multiple="true"></select>
						</div>
					</div>
				</form>
			</div>
			<div data-bind="ifnot: searchVisible" >
				<div>
					<table width=100% id="search_test_table" class="display table table-striped table-bordered table-hover table-condensed">
				        <thead class="dataTableHeader">
				            <tr>
				                <th>Test Id</th>
				                <th>Test Name</th>
				                <th>Category</th>
				                <th>Scheduled By</th>
				                <th>Test Status</th>
				                <th>Total Tests</th>
				                <th>No of Test Passed</th>
				                <th>No of Test Failed</th>
				                <th>Scheduled Time</th>
				                <th>Completed Time</th>
			    	        </tr>
			        	</thead>
				    </table>
				</div>
			</div>
			<div class="form-horizontal control-group">
				<br>
				<div class="controls"> 
					<button class="btn" data-bind="click: searchTest, visible: searchVisible">Search</button>
					<h5 data-bind="visible: ( !searchVisible() && searchResults().length == 0)"> No Test Found </h5>
					<button class="btn" data-bind="click: resetSearchOption, visible: !searchVisible()">Reset Search</button>
					<button class="btn" data-bind="click: exportData, visible: ( !searchVisible() && searchResults().length != 0)">Export</button>
				</div>
			 </div>
		</div>
	</div>
</div>
<script>
(function(httpCompliance, $, undefined){
  

  httpCompliance.searchTestViewModel = function searchTestViewModel(data){
    var self = this;
	self.testName = ko.observable();
	self.userName = ko.observable();
    self.availableCategories = ko.observableArray( data.categories || [] );
    self.selectedCategories = ko.observable();
	self.searchResults = ko.observableArray([]);
	self.searchVisible = ko.observable(true);
	
	self.resetSearchOption = function resetSearchOption(){
		self.testName('');
		self.userName('');
		self.selectedCategories([]);
		self.searchResults([]);
		self.searchVisible(true);
	}
	
	self.exportData = function exportData(){
		$("#search_form").submit();
	}
	
	self.initDataTable = function initDataTable(){
		var options = {
	        "bJQueryUI": true,
	        aoColumns: [ {
	                    "sType": "numeric"
	                },
	                null,
	                null,
	                null,
	                null,
	                null,
	                null,
	                null,
	                null,
	                null,
        	],
			aaData: self.searchResults()
    	}
    	Application.dataTable.Init("#search_test_table", options, true);
	}
	
	self.formatTableData = function formatTableData(test){
		 return	[
				['<a href= "#/test_details/' + test.id +'"> <span>' + test.id + '</span></a>',
		       	test.name,
        		test.category,
	          	test.scheduled_by,
                test.status,
                test.total_test_count,
                test.pass_count,
                test.fail_count,
                test.created_time,
                test.completed_time]
            ]
	}	

    self.searchTest = function searchTest(data, event){
		self.searchVisible(false);
		postData = { test_name : self.testName() || '',
				user_name : self.userName() || '',
				category_ids : $.map(self.selectedCategories() || [], function(category){
								return category.id;
				})
		}
		$.ajax({ type: "POST",
					url: "/search_test",
					data: ko.toJSON(postData),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(result) {
						self.searchResults($.map(result.post_response.tests || [],function(test){
										 	return self.formatTableData(test);
										}))
						self.initDataTable();
					}
				}).fail(function(){
			$.prompt("Unknown Error at server side");
		})
    };
	}
}(Application.namespace("Application.httpCompliance"), jQuery))

var applyFormBindings = function(data, tab_id){
	ko.applyBindings(new Application.httpCompliance.searchTestViewModel(data), $(tab_id)[0]);

};

</script>
