.ui-tabs .ui-tabs-nav /* Tab list panel */
{
background: lightblue;
}

#loader {
 width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
   position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

#application_tabs li .ui-icon-close { 
float: left; 
margin: 0.4em 0.2em 0 0; 
cursor: pointer; 
}

.pull-left-corner
{
position:absolute;
left:0px;
}

/* Wrapper for page content to push down footer */
#footer
{
background: #ffffff;
position: fixed;
min-height: 9%;
width: 100%;
bottom: 0;
}

.side-bar-section {
left:5px;
top:46px;
padding-top:20px;
padding-bottom:100%;
background-color: #C0C0C0;
}
.side-bar-section ul li{
margin: 5px;
border: 1px solid gray;
background-color: lightblue;
}

.ui-tabs .ui-tabs-panel /* just in case you want to change the panel */
{
padding-top:20px;
background: white;
padding-bottom: 100%;
}
.form {
}

/*
 * DataTables framework
 */
div.dataTables_wrapper {
	background-color: #719ba7;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
}

table.pretty td,
table.pretty th {
	padding: 5px;
	border: 1px solid #fff;
}

/* Header cells */
table.pretty thead th.ui-state-default {
	text-align: center;
	background-color: #48D1CC;
	background: #48D1CC;
    color: #000000;
}

table.pretty thead th {
	text-align: center;
	background-color: #48D1CC;
	background: #48D1CC;
    color: #000000;
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table.pretty tbody td {
	text-align: center;
	background: #d5eaf0;
}
		
table.pretty tbody td a{
	text-align: center;
    color: #000000;
}
		
table.pretty tbody tr.odd td { 
	background: #bcd9e1;
}
table.pretty tbody tr.odd td.sorting_1 { 
	background: #008B8B;
}
table.pretty tbody tr.even td.sorting_1 { 
	background: #008B8B;
}

/* Footer cells */	
table.pretty tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.pretty tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}

/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #66A9BD url('images/sort_asc.png') no-repeat right center;
}

table.pretty thead th.sorting_desc {
	background: #66A9BD url('images/sort_desc.png') no-repeat right center;
}

table.pretty thead th.sorting {
	background: #66A9BD url('images/sort_both.png') no-repeat right center;
}

.over-flow {
 overflow: auto;
}
}
